* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: gray;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 65vh;
    background-image: linear-gradient(45deg, purple 12%, blue 180%);
    flex-direction: column;
    align-content: center;
    padding: 12px 15px;
    align-items: center;
}

#Numero {
    margin-top: 12px;
    background-color: lawngreen;
    font-size: 16px;
    font-weight: 680;
    color: white;
    width: 55px;
    height: 20px;
}

#Show {
    border-radius: 45px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    font-weight: 680;
    width: 70%;
    height: 50px;
    margin-top: 14px;
    margin-left: 12px;
    padding-left: 12px;
}

.input {
    border-radius: 50px;
    border-style: none;
    font-size: 16px;
    outline: none;
    padding: 14px 24px;
    width: 65%;
    background: lightcyan;
    margin-bottom: 14px;
}

#G_Num {
    border-radius: 45px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    background-color: lightgreen;
    font-weight: 680;
    width: 50%;
    height: 50px;
    margin-bottom: 14px;
}

button {
    border-radius: 45px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    background-color: blue;
    font-weight: 680;
    width: 50%;
    height: 50px;
}